{
  "plugins": ["@babel/plugin-transform-flow-strip-types"],
  "presets": ["@babel/preset-flow"],
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-env"],
    },
    "es":{
      "presets": ["@babel/preset-env"],
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
